.navbar{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.3rem;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    justify-content: space-between;
}