.wrapper{
    max-width: 580px;
    padding: 0 0.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.heading_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    color: var(--yellow);
    font-size: 1.2rem;
    font-weight: 700;
}

.new_draft_btn{
    width: 4rem;
    border: 0;
    color: var(--grey-400);
    background: var(--yellow);
    border: 1px solid var(--marine-blue);
    border-radius: 0.5rem;
    padding: 0.5rem;
}


.podium_list{
    padding-top: 3rem;
    min-height: 20rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: center;
    line-height: 1.5rem;
}

.podium_pdl{
    color: var(--marine-blue);
    font-weight: 700;
}

.podium_leader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    text-align: center;
    width: 33%;
}

.podium_leader img{
    width: 7rem;
    border-radius: 50%;
    border: 1px solid var(--grey-400);
    padding: 0.5rem; 
}

.podium_place{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    text-align: center;
    width: 33%;
}

.podium_place img{
    width: 4rem;
    border-radius: 50%;
    border: 1px solid var(--grey-400);
    padding: 0.5rem;
}

.ranking_list{
    list-style: none;
    padding: 2rem 0;
}

.ranking_list li{
    display: flex;
    align-items: center;
    padding: 0.8rem 0;
    justify-content: left;
    border-top: 0.5px solid var(--grey-400);
    gap: 0.5rem;
}

.classification_number{
    font-weight: 700;
    color: var(--grey-200);
}


.ranking_list img{
    width: 4rem;
    height: 4rem;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid var(--grey-400);
}

.player_name{
    font-size: 1.1rem;
    color: var(--grey-200);
    font-weight: 700;
}

.player_nickname{
    color: var(--grey-400);
    font-weight: regular;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.player_pdl{
    color: var(--white);
    font-weight: 700;
}